h1,
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-weight: lighter;
}

h1 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 9px;
}

h2 {
    font-size: 35px;
    letter-spacing: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form {
    float: right;
    margin-right: 10px;
}

body {
    text-align: center;
    background-color: white;
    color: black;
}

.fa-user {
    float: left;
}

p {
    margin: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}

table {
    width: 100%;
    padding: 50px;
}

.image {
    background-image: url(girlgreece.jpg);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    background-position: top center;
}