h1,
h2,
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-weight: lighter;
}

h1 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 9px;
    margin-top: 0px;
}

h2 {
    font-size: 35px;
    letter-spacing: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

h3 {
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form {
    margin-right: 10px;
}

body {
    text-align: center;
    background-color: white;
    color: black;
}

.fa-user {
    float: left;
}

p {
    margin: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}

table {
    width: 100%;
    padding: 50px;
}

.image {
    background-image: url(girlgreece.jpg);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    background-position: top center;
}

a {
    color: black;
    text-decoration: none;
    letter-spacing: 10px;
}

div,
section {
    padding-bottom: 20px;
    padding-top: 20px;
}

.previous_button {
    background-color: white;
    color: black;
    margin-right: 20px;
}

.next_button {
    background-color: white;
    color: black;
    margin-left: 20px;
}

i,
a:hover {
    cursor: pointer;
}

label,
.post_form {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 10px;
    display: block;
}

tbody {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

.body_box {
    width: 400px;
    height: 140px;
}

.single_line_box {
    width: 400px;
}

button {
    cursor: pointer;
}

.main_search {
    float: right;
}